
<custom-header></custom-header>

<div class="navigation">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <table align = "center" cellpadding="4">
        <tr>
            <th>
                <div>
                    <a routerLink = "/projects/gaming"> <h4>< Go to Gaming Applications</h4> </a>
                </div>
            </th>
            <div>
                <th>
                    <a routerLink="">home</a>
                </th>
                <th>
                    <a routerLink="/about">about</a>
                </th>
                <th>
                    <a routerLink="/coding">coding</a>
                </th>
                <th>
                    <a routerLink="/work">work</a>
                </th> 
                <th>
                    <a routerLink="/extracurricular" >extracurricular </a>
                </th> 
            </div>
            <th>
                <div>
                    <a routerLink = "/projects/mobile"> <h4>Go to Mobile Applications ></h4> </a>

                </div>
            </th>
        </tr>
    </table>
</div>  

<div class = "scrollable">
<table align = "center" cellpadding="20" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <tr>
        <td>
            <a href="https://github.com/miri-rodriguezg/java-server-pages-web-app" target="_blank">
            <img src="assets/gifs/uni-web.gif" 
            width="500"
            height="500">
        </a>
        </td>
        <td>
            <div style="margin-bottom: 30%;" class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>March 2020</h2>
                        <h1>Live Web Chat</h1>
                        <h3>London, United Kingdom</h3>
                        <table align = "center">
                            <tr>
                                <img src="assets/images/angular.png" width="80" height="80"> 
                                <img src="assets/images/nextJS.png" width="80" height="60"> 
                                <img src="assets/images/googlecloud.png" width="120" height="80"> 
                            </tr>
                            <tr>
                                <img src="assets/images/html.png" width="80" height="80">
                                <img src="assets/images/css.png" width="55" height="75"> 
                            </tr>
                        </table>
                    </div>
                    <div class="flip-box-back">
                        <h1>University Module Portal</h1>
                        <h3>Developed various web applications with priviledged access and security restrictions for admin users to add/remove database records and regular users to acces these with different filtering criterias. </h3>
                    </div>
                </div>
            </div>

        </td>
    </tr>
    <tr>
        <td>
            <a href="https://github.com/miri-rodriguezg/java-server-pages-web-app" target="_blank">
            <img src="assets/gifs/uni-web.gif" 
            width="500"
            height="500">
        </a>
        </td>
        <td>
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>March 2018</h2>
                        <h1>University Module Portal</h1>
                        <h3>London, United Kingdom</h3>
                        <table align = "center">
                            <tr>
                                <img src="assets/images/java.png" width="90" height="90"> 
                                <img src="assets/images/mysql.jpg" width="80" height="60"> 
                            </tr>
                            <tr>
                                <img src="assets/images/html.png" width="80" height="80">
                                <img src="assets/images/css.png" width="55" height="75"> 
                            </tr>
                        </table>
                    </div>
                    <div class="flip-box-back">
                        <h1>University Module Portal</h1>
                        <h3>Developed various web applications with priviledged access and security restrictions for admin users to add/remove database records and regular users to acces these with different filtering criterias. </h3>
                    </div>
                </div>
            </div>

        </td>
    </tr>
</table>
</div>
