<table>
    <tr>
        <td width = 10%>
            <img src="assets/images/web.png" 
                width="200"
                height="130">
        </td>
        <td>
            <custom-header></custom-header>
        </td>

    </tr>
    <tr>
        <td>
            <a> < Back to Projects</a>
        </td>
        <td>
            <div>
                <table align = "center" cellpadding="4">
                    <tr>
                        <th>
                            <a routerLink="">home</a>
                        </th>
                        <th>
                            <a routerLink="/coding" routerLinkActive = "active">coding</a>
                        </th>
                        <th>
                            <a routerLink="/work">work</a>
                        </th> 
                        <th>
                            <a routerLink="/extracurricular" >extracurricular </a>
                        </th> 
                    </tr>
                </table>
            </div>  
        </td>
    </tr>
</table>