p{
    font-family: "kozuka-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
  
}

.scrollable{
    width:100%;
    text-align: center;
}

p{
    text-align: justify;
    width: 60%

}