<custom-header></custom-header>

<div class = "navigation">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <table align = "center" cellpadding="4">
        <tr>
            <th>
                <a routerLink="">home</a>
            </th>
            <th>
                <a routerLink="/about" routerLinkActive = "active">about</a>
            </th>
            <th>
                <a routerLink="/coding">coding</a>
            </th>
            <th>
                <a routerLink="/work">work</a>
            </th> 
            <th>
                <a routerLink="/extracurricular" >extracurricular </a>
            </th> 
        </tr>
    </table>
</div>  

<div class = "scrollable">
    <table align = "center" cellpadding="20" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <tr>
            <td align="center">
                <p>
                    Hello! Welcome to my little corner of the internet 👋.
                </p><br>
                <p>
                    I am a Spanish computer science undergraduate, studying in London, with a one year placement in Silicon Valley.
                </p>
                <p>
                    Throughout my professional development, I have grown as a fast-learning and pro-active individual that can adapt to
                     different working environments and expectations. I love working as a Software Engineer and being part of the dynamic changing
                     world of technology as it guarantees continuous thriving and varied challenges thoughout my career, making my work very exciting!
                     
                </p>
                <p>
                    I love building projects, automating tedious workloads and learning new innovative technologies for people to benefit 
                    from higher efficiency, simplicity and flexibility.      
                </p><br>
            </td>
        </tr>
        <tr>
            <table align = "center">
                <tr>
                    <th>
                        <a href="https://github.com/miri-rodriguezg" target="_blank">
                            <img src="assets/images/github.png" width="120" height="45">
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href="https://www.linkedin.com/in/miriam-rodriguez-garcia/" target="_blank">
                            <img src="assets/images/linkedin.jpg" width="120" height="40"> 
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href="/assets/files/resume.pdf" target="_blank" >
                        <img src="assets/images/resume.png" width="170" height="50"> 
                    </a>
                    </th>
                </tr>
            </table>
        </tr>
    </table>
</div>


