
<custom-header></custom-header>

<div>
    <table align = "center" cellpadding="4">
        <tr>
            <th>
                <a routerLink="">home</a>
            </th>
            <th>
                <a routerLink="/coding" routerLinkActive = "active">coding</a>
            </th>
            <th>
                <a routerLink="/work">work</a>
            </th> 
            <th>
                <a routerLink="/extracurricular" >extracurricular </a>
            </th> 
        </tr>
    </table>
</div>  

<table align = "center"> 

    <tr>
        <td >
            <projects></projects>
        </td>
    </tr>
</table>
