<custom-header></custom-header>

<div class = "navigation">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <table align = "center" cellpadding="4">
        <tr>
            <th>
                <a routerLink="">home</a>
            </th>
            <th>
                <a routerLink="/about">about</a>
            </th>
            <th>
                <a routerLink="/coding">coding</a>
            </th>
            <th>
                <a routerLink="/work" routerLinkActive = "active">work</a>
            </th> 
            <th>
                <a routerLink="/extracurricular" >extracurricular </a>
            </th> 
        </tr>
    </table>
</div>  


<!--
<div class = "scrollable" >
    <section class="timeline">

        <div class="bmw">
            <img src="assets/images/bmw.png" 
            width="150"
            height="140"> 

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <br>
                        <h2>2020</h2>
                        <h1>Full-Stack Developer</h1>
                        <h3>Munich, Germany</h3>
                        <table align = "center">
                            <tr>
                                <img src="assets/images/angular.png" width="60" height="60">
                                <img src="assets/images/ExpressJS.png" width="100" height="30"> 
                                <img src="assets/images/oracle.png" width="100" height="30">
                            </tr>
                        </table>
                    </div>
                    <div class="flip-box-back">
                        <h1>Full-Stack Developer</h1>
                      </div>
                </div>
            </div>
        </div>

        <div class="cisco">
            <img src="assets/images/cisco.png" 
            width="200"
            height="110"> 

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <br>
                        <h2>2019-2020</h2>
                        <h1>Full-Stack Developer</h1>
                        <h3>San Jose, California</h3>
                        <table align = "center">
                            <tr>
                                <img src="assets/images/angular.png" width="60" height="60"> 
                                <img src="assets/images/django.jpg" width="60" height="60"> 
                                <img src="assets/images/msp.png" width="60" height="50"> 
                                <img src="assets/images/salesforce.png" width="55" height="45"> 
                            </tr>
                        </table>
                    </div>
                    <div class="flip-box-back">
                        <h1>Full-Stack Developer</h1>
                        <h3>Created a Request for Proposal web automation portal, annualy saving up to $250,000 on external licenses, by integrating various systems through APIs.</h3>
                        <h3>Built and improved Cisco's Knowledge base content through a quality control and visual web tool.</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="bml">
            <img src="assets/images/bml-logo.png" 
            width="200"
            height="130"> 

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <br>
                        <h2>2018</h2>
                        <h1>Software Developer</h1>
                        <h3>Munich, Germany</h3>
                        <table align = "center">
                            <tr>
                                <img src="assets/images/vba.png" width="60" height="60"> 
                            </tr>
                        </table>
                    </div>
                    <div class="flip-box-back">
                        <br><br>
                        <h1>Software Developer</h1>
                        <h3>Built a self-updating database system holding 10,000+ sales records across different database sources, using Macro technology.</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="lucan">
            <img src="assets/images/lucan.png" 
            width="130"
            height="150"> 

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>2019-Present</h2>
                        <h1>Python Tutor</h1>
                        <h3>London, United Kingdom</h3>
                        <table align = "center">
                            <tr>
                                <img src="assets/images/python.png" width="55" height="60"> &nbsp;
                                <img src="assets/images/django.jpg" width="60" height="60"> 
                            </tr>
                        </table>
                    </div>
                    <div class="flip-box-back">
                        <h1>Python Tutor</h1>
                        <h3>Teach secondary school students how to build web and gaming applications twice a week, covering Object Oriented programming concepts and REST API technologies.</h3>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>
-->

<div class = "scrollable">
    <table align = "center" cellpadding="5">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <tr>
            <td align="center">
                <img src="assets/images/bmw.png" 
                width="150"
                height="140">  
            </td>
            <td>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <br>
                            <h2>2020-Present</h2>
                            <h1>Full-Stack Developer</h1>
                            <h3>Munich, Germany</h3>
                            <table align = "center">
                                <tr>
                                    <img src="assets/images/angular.png" width="60" height="60">
                                    <img src="assets/images/ExpressJS.png" width="100" height="30"> 
                                    <img src="assets/images/oracle.png" width="100" height="30">
                                </tr>
                            </table>
                        </div>
                        <div class="flip-box-back">
                            <h1>Full-Stack Developer</h1>
                            <h3>Developing an internal communication tool to provide control and direction to the multi-project
                                planning team, by graphically representing cost data and facilitating the monitoring, allocation
                                and analysis process of sub-departmental costs, to meet yearly budget goals.</h3>

                           </div>
                    </div>
                </div>
            </td>
        </tr>

        
        <tr>
            <td align="center">
                <img src="assets/images/cisco.png" 
                width="200"
                height="110">    
            </td>
            <td>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <br>
                            <h2>2019-2020</h2>
                            <h1>Full-Stack Developer</h1>
                            <h3>San Jose, California</h3>
                            <table align = "center">
                                <tr>
                                    <img src="assets/images/angular.png" width="60" height="60"> 
                                    <img src="assets/images/django.jpg" width="60" height="60"> 
                                    <img src="assets/images/msp.png" width="60" height="50"> 
                                    <img src="assets/images/salesforce.png" width="55" height="45"> 
                                </tr>
                            </table>
                        </div>
                        <div class="flip-box-back">
                            <h1>Full-Stack Developer</h1>
                            <h3>Created a Request for Proposal web automation portal, annualy saving up to $250,000 on external licenses, by integrating various systems through APIs.</h3>
                            <h3>Built and improved Cisco's Knowledge base content through a quality control and visual web tool.</h3>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td align="center">
                <img src="assets/images/lucan.png" 
                width="130"
                height="150"> 
            </td>
            <td>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <h2>2018-2019</h2>
                            <h1>Python Tutor</h1>
                            <h3>London, United Kingdom</h3>
                            <table align = "center">
                                <tr>
                                    <img src="assets/images/python.png" width="55" height="60"> &nbsp;
                                    <img src="assets/images/django.jpg" width="60" height="60"> 
                                </tr>
                            </table>
                        </div>
                        <div class="flip-box-back">
                            <h1>Python Tutor</h1>
                            <h3>Teach secondary school students how to build web and gaming applications twice a week, covering Object Oriented programming concepts and REST API technologies.</h3>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td align="center">
                <img src="assets/images/bml-logo.png" 
                width="200"
                height="130"> 
            </td>
            <td>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <br>
                            <h2>2018</h2>
                            <h1>Software Developer</h1>
                            <h3>Madrid, Spain</h3>
                            <table align = "center">
                                <tr>
                                    <img src="assets/images/vba.png" width="60" height="60"> 
                                    <img src="assets/images/wordpress.png" width="100" height="60"> 

                                </tr>
                            </table>
                        </div>
                        <div class="flip-box-back">
                            <br><br>
                            <h1>Software Developer</h1>
                            <h3>Built a self-updating database system holding 10,000+ sales records across different database sources, using Macro technology.</h3>
                            <h3>Created company's main recruiting <a href="http://bringmorelight.com/" target="_blank"> website.</a></h3>

                        </div>
                    </div>
                </div>
            </td>
        </tr>


    </table>
</div>

