<a routerLink = "/extracurricular"> < Back to Extracurricular Activities</a>
<custom-header></custom-header>
<div>
    <table align = "center" cellpadding="4">
        <tr>
            <th>
                <a routerLink="">home</a>
            </th>
            <th>
                <a routerLink="/coding">coding</a>
            </th>
            <th>
                <a routerLink="/work">work</a>
            </th> 
            <th>
                <a routerLink="/extracurricular" routerLinkActive = "active">extracurricular </a>
            </th> 
        </tr>
    </table>
</div>  