
<html>
    <table align = "center" cellspacing="10">
        <br>
        <tr>
            <th>
            <a routerLink="/activities/performing">
                <img src="assets/images/rock-band.jpg"
                width="300"
                height="200">    
            </a>
            </th>

            <th>
            <a routerLink="/activities/travelling">
                <img src="assets/images/world-map.png" 
                width="450"
                height="250">  
            </a>
            </th>
            
            <th>
            <a routerLink="/activities/sports">
                <img src="assets/images/xtreme.png" 
                width="300"
                height="250">  
            </a>
            </th> 
        </tr>

        <tr>
            <th>
                <a routerLink="/coding" ><h1>Performing</h1></a>
            </th>
            <th>
                <a routerLink="/work" ><h1>Travelling</h1></a>
            </th>
            <th>
                <a routerLink="/extracurricular" ><h1>Sports</h1></a>
            </th>
        </tr>
        
        <tr>
            <th align = "center">
                <p>Currently trying to live my long life dream by forming a rock band!</p>
                <p>Self teach mainly guitar, piano and love performing and attending live shows.</p>
                <a routerLink="/coding"  ><h2>read more</h2></a>
            </th>
            <th>
                <p>Member of the Couchsurfing community where I love learning about people's cultures and sharing great travel experiences.</p>
                <p>Fond of mother nature, backpacking and getting lost in the wilderness.</p>
                <a routerLink="/work" ><h2>read more</h2></a>
            </th>
            <th>
                <p>Always doing outdoor activities.</p>
                <p>Take risks.</p>
                <a routerLink="/extracurricular" ><h2>read more</h2></a>
            </th>
        </tr>
    </table>
</html>
