
<html>
    <table align = "center" cellspacing="10">
        <tr>
            <th>
            <a routerLink="/coding">
                <img src="assets/images/performing.png"
                width="400"
                height="300">    
            </a>
            </th>

            <th>
            <a routerLink="/work">
                <img src="assets/images/travelling.jpg" 
                width="400"
                height="300">  
            </a>
            </th>
            
            <th>
            <a routerLink="/extracurricular">
                <img src="assets/images/hike.jpg" 
                width="400"
                height="300">  
            </a>
            </th> 
        </tr>

        <tr>
            <th>
                <a routerLink="/coding" ><h1>Performing</h1></a>
            </th>
            <th>
                <a routerLink="/work" ><h1>Travelling</h1></a>
            </th>
            <th>
                <a routerLink="/extracurricular" ><h1>Sports</h1></a>
            </th>
        </tr>
        
        <tr>
            <th align = "center">
                <p>Self teach guitar and piano and perform at various shows.</p>
                <p>Currently forming a rock band.</p>
                <a routerLink="/coding"  ><h2>read more</h2></a>
            </th>
            <th>
                <p>Member of the Couchsurfing community where I learn from people's cultures and experiences</p>
                <p>Love travelling</p>
                <a routerLink="/work" ><h2>read more</h2></a>
            </th>
            <th>
                <p>Always doing outdoor activities.</p>
                <p>Take risks.</p>
                <a routerLink="/extracurricular" ><h2>read more</h2></a>
            </th>
        </tr>
    </table>
</html>