
<html>
    <table align = "center" cellspacing="10">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <br>
        <tr>
            <th>
            <a routerLink="/activities/performing">
                <img src="assets/images/guiano2.png"
                width="250"
                height="270">    
            </a>
            </th>

            <th>
            <a routerLink="/activities/travelling">
                <img src="assets/images/world-map.png" 
                width="430"
                height="250">  
            </a>
            </th>
            
            <th>
            <a routerLink="/activities/sports">
                <img src="assets/images/sport.png" 
                width="320"
                height="260">  
            </a>
            </th> 
        </tr>

        <tr>
            <th>
                <a routerLink="/coding" ><h1>Performing</h1></a>
            </th>
            <th>
                <a routerLink="/work" ><h1>Travelling</h1></a>
            </th>
            <th>
                <a routerLink="/extracurricular" ><h1>Sports</h1></a>
            </th>
        </tr>
        
        <tr>
            <th align = "center">
                <p>Trying to take my musical skills on a more professional level by forming a rock band.</p>
                <p>Self teach guitar, piano and love performing and attending live shows.</p>
                <a routerLink="/activities/performing" ><h2>read more</h2></a>
            </th>
            <th>
                <p>Curious to learn about people's cultures and create travel experiences around the world.</p>
                <p>Have great appreciation for nature and backpacking.</p>
                <a routerLink="/activities/travelling" ><h2>read more</h2></a>
            </th>
            <th>
                <p>Take every opportunity I can to practice water and mountain sports when I'm off the screen.</p>
                <p>Currently pursuing full motorcycle and diving licenses. </p>
                <a routerLink="/activities/sports" ><h2>read more</h2></a>
            </th>
        </tr>
    </table>
</html>
