<custom-header></custom-header>

<div class="navigation">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <table align = "center" cellpadding="4">
        <tr>
            <th>
                <div align="left">
                    <a routerLink = "/projects/mobile"> <h4>< Go to Mobile Applications </h4></a>
                </div>
            </th>
            <div align="center">
                <th>
                    <a routerLink="">home</a>
                </th>
                <th>
                    <a routerLink="/about">about</a>
                </th>
                <th>
                    <a routerLink="/coding">coding</a>
                </th>
                <th>
                    <a routerLink="/work">work</a>
                </th> 
                <th>
                    <a routerLink="/extracurricular" >extracurricular </a>
                </th> 
            </div>
            
            <th>
                <div align="right">
                    <a routerLink = "/projects/web"><h4>Go to Web Applications ></h4> </a>
                </div>
            </th>
        </tr>
    </table>
</div>  

<div class = "scrollable">
    <table align = "center" cellpadding="20" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <tr>
            <td>
                <a href="https://github.com/miri-rodriguezg/shooting-game" target="_blank">
                    <img src="assets/gifs/bunny-shoot.gif" 
                    width="550"
                    height="400">
                </a>
            </td>
            <td>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <h2>January 2019</h2>
                            <h1>Shooting Bunny</h1>
                            <h3>London, United Kingdom</h3>
                            <table align = "center">
                                <tr>
                                    <th>
                                        <img src="assets/images/pygame.png" width="120" height="50"> &nbsp;
                                        <img src="assets/images/python.png" width="60" height="70"> 
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="flip-box-back">
                            <br><br>
                            <h1>Shooting Bunny</h1>
                            <h3>Taught 7-13 year old kids how to develop various computer games using key handling and collision detecting events to shoot at enemies.</h3>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <a href="https://github.com/miri-rodriguezg/multi-level-game" target="_blank">
                <img src="assets/gifs/rats-uni.gif" 
                width="550"
                height="400">
            </a>
            </td>
            <td>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <h2>October 2018 </h2>
                            <h1>Rats in Uni</h1>
                            <h3>London, United Kingdom</h3>
                            <table align = "center">
                                <tr>
                                    <th>
                                        <img src="assets/images/city-logo.jpg" width="60" height="80"> &nbsp;
                                        <img src="assets/images/java.png" width="90" height="90"> 
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="flip-box-back">
                            <br><br>
                            <h1>Rats in Uni</h1>
                            <h3>Developed a multi-player computer game using JFrames and City University's custom library to store high score ranking files as the rats in uni feed themselves with student's snacks.</h3>
                        </div>
                    </div>
                </div>    
            </td>
        </tr>
        
        <tr>
            <td>
                <a href="https://github.com/miri-rodriguezg/bubble-pop-game-using-processing-language" target="_blank">
                <img src="assets/gifs/bubbles.gif" 
                width="550"
                height="400">
            </a>
            </td>
            <td>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <h2>September 2017</h2>
                            <h1>Bubble Popping</h1>
                            <h3>London, United Kingdom</h3>
                            <table align = "center">
                                <tr>
                                    <th>
                                        <img src="assets/images/processing-logo.jpg" width="65" height="75"> &nbsp;
                                        <img src="assets/images/java.png" width="90" height="90"> 
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="flip-box-back">
                            <br><br>
                            <h1>Bubble Popping</h1>
                            <h3>Used timeouts to increase the speed and shrink the size of falling balls, making them harder to pop before they disappear off the screen.</h3>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
