<a routerLink = "/coding"> < Back to Coding Projects</a>
<custom-header></custom-header>
<div>
    <table align = "center" cellpadding="4">
        <tr>
            <th>
                <a routerLink="">home</a>
            </th>
            <th>
                <a routerLink="/coding" routerLinkActive = "active">coding</a>
            </th>
            <th>
                <a routerLink="/work">work</a>
            </th> 
            <th>
                <a routerLink="/extracurricular" >extracurricular </a>
            </th> 
        </tr>
    </table>
</div>  

<table align = "center" cellpadding="20" >
    <tr>
        <td>
            <a href="https://github.com/miri-rodriguezg/shooting-game">
                <img src="assets/gifs/bunny-shoot.gif" 
                width="550"
                height="400">
            </a>
        </td>
        <td>
            <h2>January 2019</h2>
            <h1>Shooting Bunny</h1>
            <h3>London, United Kingdom</h3>
            <table align = "center">
                <tr>
                    <th>
                        <img src="assets/images/pygame.png" width="120" height="50"> &nbsp;
                        <img src="assets/images/python.png" width="60" height="70"> 
                    </th>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://github.com/miri-rodriguezg/multi-level-game">
            <img src="assets/gifs/rats-uni.gif" 
            width="550"
            height="400">
        </a>
        </td>
        <td>
            <h2>October 2018 </h2>
            <h1>Rats in Uni</h1>
            <h3>London, United Kingdom</h3>
            <table align = "center">
                <tr>
                    <th>
                        <img src="assets/images/city-logo.jpg" width="60" height="80"> &nbsp;
                        <img src="assets/images/java.png" width="90" height="90"> 
                    </th>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://github.com/miri-rodriguezg/bubble-pop-game-using-processing-language">
            <img src="assets/gifs/bubbles.gif" 
            width="550"
            height="400">
        </a>
        </td>
        <td>
            <h2>September 2017</h2>
            <h1>Bubble Popping</h1>
            <h3>London, United Kingdom</h3>
            <table align = "center">
                <tr>
                    <th>
                        <img src="assets/images/processing-logo.jpg" width="65" height="75"> &nbsp;
                        <img src="assets/images/java.png" width="90" height="90"> 
                    </th>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!--
<table align = "center" width = 90%>
    <tr>
        <th>
            <a routerLink = "/projects/mobile"> <h5>< Go to Mobile Applications</h5> </a>
        </th>
        <th>
            <a routerLink = "/coding"> <h5>Back to Coding Projects</h5> </a>
        </th>
        <th>
            <a routerLink = "/projects/web"> <h5>Go to Web Applications ></h5> </a>
        </th>
    </tr>
</table>
-->