<div class = "scrollable">
    <table align = "center" cellspacing="10">
        <tr>
            <th>
                <a routerLink="/projects/web">
                <img src="assets/images/web.png" 
                width="300"
                height="230">
            </a>
            </th>
            <th>
                &nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/projects/mobile">
                <img src="assets/images/mobile.png" 
            width="230"
            height="230">  
            </a>
            </th>
            
            <th>
            <a routerLink="/projects/gaming">
                <img src="assets/images/gaming.jpg"
                width="250"
                height="260">
            </a>
            </th> 
        </tr>

        <tr>
            <th>
                <a routerLink="/projects/web" ><h1>Web Applications</h1></a>
            </th>
            <th>
                <a routerLink="/projects/mobile" ><h1>Mobile Applications</h1></a>
            </th>
            <th>
                <a routerLink="/projects/gaming" ><h1>Gaming Applications</h1></a>
            </th>
        </tr>
        
        <tr>
            <th align = "center">
                <p>Developed as university and personal projects.</p>

                <table align = "center">
                    <tr>
                        <th>
                            <img src="assets/images/angular.png" width="70" height="70"> &nbsp;
                            <img src="assets/images/django.jpg" width="60" height="60"> 
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <img src="assets/images/html.png" width="60" height="60"> &nbsp;
                            <img src="assets/images/css.png" width="40" height="55"> &nbsp;
                            <img src="assets/images/js.png" width="58" height="55"> 
                        </th>
                    </tr>
                </table>

                <a routerLink="/projects/web"  ><h2>see more</h2></a>

            </th>
            <th>
                <p>Learnt and built during hackathons and workshops.</p>
                <table align = "center">
                    <tr>
                        <th>
                            <img src="assets/images/swift.jpg" width="70" height="80"> 

                        </th>
                    </tr>
                </table>

                <a routerLink="/projects/mobile"  ><h2>see more</h2></a>

            </th>
            <th>
                <p>Built for teaching purposes and university projects.</p>

                <table align = "center" cellpadding = 0>
                    <tr>
                        <th>
                            <img src="assets/images/python.png" width="70" height="80"> &nbsp;
                            <img src="assets/images/java.png" width="80" height="80">
                            <img src="assets/images/c++.png" width="90" height="90"> 
                        </th>
                    </tr>
                </table>
                <a routerLink="/projects/gaming"  ><h2>see more</h2></a>
            </th>
        </tr>
        
    </table>
</div>
