
<br><br>
<h1>PROJECTS</h1>
<table align = "center" cellspacing="15">
    <tr>
    <br>
        <th>
            <img src="https://www.seekpng.com/png/full/252-2527853_web-application-development-web-application-icon.png" 
            width="200"
            height="130">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th>
            <a routerLink="/projects/web"  >Web Applications</a>
        </th>
    </tr>

    <tr>
    <br>
        <th>
            &nbsp;&nbsp;
            <img src="https://lh3.googleusercontent.com/proxy/gUTTnkmXob0oliaz0ihIzF399W19Ua2p6F6Odcxj0uzmsrONzoPprsbH1yzpj1uA_gl0anvE6RcRnMRY5PCDQ9eo71GDOUtfbIc4OkbghsMZ_eSC2yrIEBeaT81U" 
            width="130"
            height="130">  
            &nbsp;&nbsp;&nbsp;&nbsp;
        </th> 
        <th>
            <a routerLink="/projects/mobile"  >Mobile Applications</a>
        </th>
    </tr>

    <tr>
    <br>
        <th>
            <img src="https://icon-library.net/images/pc-gaming-icon/pc-gaming-icon-27.jpg"
            width="150"
            height="160">
        </th>
        <th>
            <a routerLink="/projects/gaming"  >Gaming Applications</a>
        </th>
    </tr>
</table>