h1 {
    font-family: "kozuka-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 250px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: lightsteelblue;
  }
  
  h2 {
    font-family: "kozuka-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  h4 {
    font-family: "kozuka-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    font-family: "kozuka-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: steelblue;
  }
  
  .boxed {
    border: 5px solid lightsteelblue;
    border-style: solid;
    margin-top: 0;
  }
  
  .scrollable{
    margin-top: 100px;
    position: fixed;
    width:100%
  }