
<html>
    <custom-header></custom-header>

    <div>
        <table align = "center" cellpadding="4">
            <tr>
                <th>
                    <a routerLink="" routerLinkActive = "active">home</a>
                </th>
                <th>
                    <a routerLink="/coding">coding</a>
                </th>
                <th>
                    <a routerLink="/work">work</a>
                </th> 
                <th>
                    <a routerLink="/extracurricular" >extracurricular </a>
                </th> 
            </tr>
        </table>
    </div>  
    
    <home-sections></home-sections>
</html>