/* You can add global styles to this file, and also import other style files */
@viewport{
    zoom: 1;
    width: extend-to-zoom;
}

@-ms-viewport{
    zoom: 1;
    width: extend-to-zoom;
}

@-o-viewport{
    zoom: 1;
    width: extend-to-zoom;
}
