
<html>
    <table align = "center">
        <tr>
            <th>
            <a routerLink="/coding">
                <img src="https://www.michaeluloth.com/static/a1f31faea14c7e96931ff44cbc8fd140/56b60/clement-h-544786-unsplash.webp" 
                width="400"
                height="300">    
            </a>
            </th>

            <th>
            <a routerLink="/travelling">
                <img src="https://66.media.tumblr.com/a643a768ec1988081ec6eac9ffffc085/tumblr_pa2mf0TmYE1qep2npo1_500.jpg" 
                width="400"
                height="300">  
            </a>
            </th>
            
            <th>
            <a routerLink="/performing">
                <img src="https://66.media.tumblr.com/cf7908a62226a0ca5e68f3d696d04fa9/tumblr_nqg0xoJROi1uq0vk4o1_400.png" 
                width="400"
                height="300">  
            </a>
            </th> 
        </tr>

        <tr>
            <th>Coding</th>
            <th>Travelling</th>
            <th>Performing</th>
        </tr>
        
        <tr>
            <th align = "center">
                <p>Currently focusing on full-stack web and mobile app development.</p>
                <p>Experienced with REST APIs, cloud solutions and containerization.</p>
                <a routerLink="/coding"  >read more</a>
            </th>
            <th>
                <p>Member of the Couchsurfing community where I learn from people's cultures and experiences.</p>
                <p>I love learning languages and am open for job relocations.</p>
                <a routerLink="/travelling" >read more</a>
            </th>
            <th>
                <p>Self teach guitar and piano and perform at various shows.</p>
                <p>Currently forming a rock band.</p>
                <a routerLink="/performing" >read more</a>
            </th>
        </tr>
    </table>
</html>