
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class = "scrollable">
        <table align = "center" cellspacing="10" >
            <tr>
                <th>    
                <a routerLink="/coding">
                    <img src="assets/images/coding.jpg"
                    width="400"
                    height="300"
                    >    
                </a>
                </th>

                <th>
                <a routerLink="/work">
                    <img src="assets/images/office.png" 
                    width="400"
                    height="300"
                    >  
                </a>
                </th>
                
                <th>
                <a routerLink="/extracurricular">
                    <img src="assets/images/leisure.jpeg" 
                    width="400"
                    height="300"
                    >  
                </a>
                </th> 
            </tr>
            
            <tr>
                <td align = "center">
                    <a routerLink="/coding" ><h1>Coding</h1></a>

                    <p>Currently focusing on full-stack web and mobile app development.</p>
                    <p>Experienced with REST APIs, cloud solutions and app containerization.</p>
                    <a routerLink="/coding"  ><h2>read more</h2></a>
                </td>
                <td>
                    <a routerLink="/work" ><h1>Work Experience</h1></a>

                    <p>Constantly combining my passions for Business and Technology through the automation of systems.</p>
                    <p>Love learning languages and am open for job relocations.</p>
                    <a routerLink="/work" ><h2>read more</h2></a>
                </td>
                <td>
                    <a routerLink="/extracurricular" ><h1>Extracurricular</h1></a>

                    <p>Spend most of my free time self-teaching musical instruments or practicing extreme sports.</p>
                    <p>I am passionate about travelling, visited over 20 countries and lived in 4.</p>
                    <a routerLink="/extracurricular" ><h2>read more</h2></a>
                </td>
            </tr>
        </table>
    </div>

</html>