h1 {
    font-family: "kozuka-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    margin-top: 5;
    margin-bottom: 0;
  }
  
  h2 {
    font-family: "kozuka-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    font-family: "kozuka-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    color: black;
    text-decoration: none;
  }
  
  #bg-border {
    border: 5px solid lightsteelblue;
    margin-top: 0;
  }
  