<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div>
    	<div id="bg-border">
		<div id="bg"></div>
	</div>
        <h1>MIRIAM RODRIGUEZ GARCIA</h1>
        <table align = "center" cellpadding="0" >
            <tr>
                <th>
                    <h2>👩🏽‍💻 Software Engineer &nbsp; </h2>
                </th>
                <th>
                    <h2>&nbsp;🇪🇸 Madrid, Spain&nbsp;</h2>
                </th>
                <th>
                    <h2>&nbsp;📍 London, UK &nbsp;&nbsp;&nbsp;&nbsp;</h2>
                </th> 
            </tr>
        </table>
    </div>
</body>
</html>